$myColor: royalblue;
//contoh nesting: syntax css secara bersarang menggunakan sass
header {
  background-color: salmon;
  h1 {
    font-size: 3rem;
  }
  p {
    color: $myColor;
  }
}

body {
  background-color: lightblue;
}

// &: parent selector=>menyeleksi atau mengambil elemen parent dari suatu class
//contoh penggunaan seperti dibawah
.main {
  //pada css, dalam hal ini & = .main
  .container & {
    font-weight: bolder;
  }
  background-color: red;
  color: white;
  //contoh dibawah, & &-heading => .main .main-heading.
  & &-heading {
    font-size: 2em;
  }
  .main-paragraph {
    font-size: 1.4em;
  }
  //parent selector juga dapat digunakan ketika hover. cth:
  &:hover {
    background-color: salmon;
  }
}

.footer {
  & &-heading {
    font-size: 2em;
  }
  // selain menggunakan & &-heading, kita bisa menggunakan #{&}-heading atau sejenisnya
  //cth:
  #{&}-paragraph {
    font-size: 1.4em;
  }
}

.main,
footer {
  h1,
  p {
    letter-spacing: 1px;
  }
}
