<h3>links:</h3>
    <ul>
      <li>
        <a href="/">THIS WEB</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/contact">contact</a>
      </li>
      <li>
        <a href="/MyAPI">My API</a>
      </li>
      <li>
        <a href="/product/12?category=baju">Produk baju</a>
      </li>
    </ul>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>